body {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222 !important;
}

/* footer  */
.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    background-color: gainsboro;
    display: flex;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin-right: 1rem;

}

/* cards  */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-image-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0% !important;
}

.listing-link {
    text-decoration: none !important;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn,
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page  */
.show-image {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0%;
    padding-right: 0%;
}